body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: slateblue;
}
.game {
  padding: 100px;
  border-radius: 10%;
  background-color: #29022b;
  box-shadow: rgba(240, 46, 170, 0.1) 0px 0px 0px 5px,
    rgba(240, 46, 170, 0.1) 0px 0px 0px 10px,
    rgba(240, 46, 170, 0.1) 0px 0px 0px 20px,
    rgba(240, 46, 170, 0.1) 0px 0px 0px 40px,
    rgba(240, 46, 170, 0.01) 0px 0px 0px 80px;
}
button {
  cursor: pointer;
  background-color: crimson;
  color: white;
  border: none;
  font-size: 40px;
  padding: 30px;
  border-radius: 10%;
  transition: 0.4s linear;
}
button:hover {
  background-color: #f05754;
  box-shadow: cadetblue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.d-none {
  display: none;
}
.scene {
  display: inline-block;
  width: 200px;
  height: 200px;
  perspective: 600px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.question {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: gray;
  padding: 2px;
  margin-top: -30px;
  border-radius: 50%;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.5s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__face--front {
  background: crimson;
}
.card__face--front:hover {
  opacity: 0.8;
}
.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 620px;
}
.stats p {
  text-align: end;
  color: grey;
}
